<div class="container">
  <div class="row">

    <div class="col-sm-3">
      <h2>User</h2>
      <h4>Level</h4>
      <p class="font-weight-bold">Registered from date</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="history-box">
    <h5>My Courses</h5>
    <ul class="my-courses navbar-nav border-top">
      <li></li>
   
    
    </ul>
    </div>
    
    </div>
    
    
    <div class="col-sm-6">
      <h5>Suggested Courses</h5>
    <ul class="my-courses navbar-nav border-top">
      <li>Programming</li>
  
    
    
    </ul>
    </div>
  </div>
</div>



         





